@model CRUD_MVC.Models.Employee
@{ 
    string x = "Employee/Details/"+Convert.ToString(@Model.Id);
    string y = "Employee/Delete/" + Convert.ToString(@Model.Id);
    string z= "Employee/Edit/" + Convert.ToString(@Model.Id);
}


<div class="row ">
  <div class="col-sm-6 col-md-6 col-lg-6 mt-2">    
       
        <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">@Model.Name</h4>
            <p class="card-text">@Model.Designation</p>
            <p class="card-text">@Model.Email</p>
            <span>
                <a href=@x class="btn btn-primary mr-5">See Profile</a>
                <a href=@z class="btn btn-primary ml-5">Edit</a>
                <a href=@y class="btn btn-primary ml-1">Delete</a>
            </span>       
       </div>
    </div>
</div>


